<!-- layouts/_default/baseof.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{ partial "header.html" . }}
  <main class="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}

<!-- Incluir Lunr.js y el script de búsqueda -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
<script src="/js/search.js"></script>

</body>
</html>